.form{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 15px;
}
.add_button{
    width: 100px;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.delete_but{
    width: 41px !important;
    height: 41px !important;
    background: rgba(226, 0, 30, 0.16) !important;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.close_img{
    margin-top: -2px !important;
}
.select_text{
    margin-right: 100px;
}
.select_number{
    margin-right: 100px;
    width: 50px !important;
}