.header{
    margin-bottom: 25px;
    width: 90%;
    margin: 0 auto;
    background: #bebebe;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 1.7em;
    padding-left: 10px;
    padding-right: 10px;

}
.save_button{
    float: left !important;
    margin-right: 25px !important;
    margin-left: 85px !important;
    color: white !important;
    background: rgb(0, 188, 212) !important;
}
.cancel_button{
    margin-right: 435px !important;
}
.add_button{
    margin-left: 55px !important;
}
